:javascript
  $(function() {
    window.router = new Perfect.Routers.PerfectRouter({
      posts: []
    });
    indexView = new Perfect.Views.IndexView({
      el: $("#perfect"),
      states: #{Carmen::Country.coded('US').subregions.map{|c| [c.name, c.code]}.to_json},
      countries: #{Carmen::Country.all.map{|c| [c.name, c.code]}.to_json}
    })
    window.location = "#home"
    postcards = new Perfect.Collections.PostcardsCollection
    Backbone.history.start();
  });