.reveal
  .slides
    %section
      %h1 Perfect
      %p Send a postcard with ease.
      %h4 $2 to the US | $3 to everywhere else
      %button.zbutton.next Get Started

    %section
      %h3 Choose a card
      %button.zbutton.small.prev Or go back
      .cards
        %img.card{src: '/assets/postcard-1.png'}
        %img.card{src: '/assets/postcard-2.png'}
        %img.card{src: '/assets/postcard-3.png'}

    %section
      %h3 Write your message
      %button.zbutton.small.prev Or go back
      %textarea.message{name: 'message', required: 'required', maxlength: 300}
      %button.zbutton.where Where should we send it?

    %section
      %h3 Tell us who it's going to
      %button.zbutton.small.prev Or go back
      =form_tag make_postcard_path, class: 'destination', parsley: {validate: true} do
        .field
          %label{for: 'name'} Name
          %input{name: 'name', required: 'required'}
        .field
          %label{for: 'address1'} Address Line 1
          %input{name: 'address1', required: 'required'}
        .field
          %label{for: 'address2'} Address Line 2
          %input{name: 'address2'}
        .field
          %label{for: 'city'} City
          %input{name: 'city', required: 'required'}
        .field
          %label{for: 'state'} State
          %input{name: 'state', required: 'required'}
        .field
          %label{for: 'country'} Country
          =select_tag :country, options_for_select(Carmen::Country.all.map{|c| [c.name, c.code]}, ['United States', 'US'])
        .field
          %label{for: 'zip'} Zip
          %input{name: 'zip', required: 'required'}
        .field
          %label{for: 'email'} Your Email
          %input#email{name: 'email', required: 'required'}
        =hidden_field_tag :photo_chosen, nil, class: 'photo-chosen'
        =hidden_field_tag :final_message, nil, class: 'final-message'
        =hidden_field_tag :payment_token

        %button.zbutton.purchase Send now