#perfect
  #home.page
    .card
      .left
        &nbsp;
        .inner
          %textarea.message{maxlength: 300}
      .right
        .inner
          .stamp
            P
          .lines
            %form.FlowupLabels
              .field
                =label_tag :name
                =text_field_tag :name, params[:name], required: :required
              .field
                =label_tag :address1, 'Address Line 1'
                =text_field_tag :address1, params[:address1], required: :required
              .field
                =label_tag :address2, 'Address Line 2'
                =text_field_tag :address2, params[:address2]
              .line
                .field.inline.city
                  =label_tag :city
                  =text_field_tag :city, params[:city], required: :required, class: 'inline'
                .field.inline.state
                  =select_tag :state, 
                .field.inline
                  =select_tag :country, , class: 'inline'
              .clear
              .field
                =label_tag :zip
                =text_field_tag :zip, params[:zip], required: :required
              / .field
              /   =label_tag :email, 'Your Email'
              /   =text_field_tag :email, params[:email], required: :required, id: :email
              / .field
              /   =label_tag :discount, 'Discount Code'
              /   =text_field_tag :discount
              =hidden_field_tag :photo_chosen, params[:photo_chosen], class: 'photo-chosen'
              =hidden_field_tag :final_message, params[:final_message], class: 'final-message'
              =hidden_field_tag :payment_token
    %br 
    %br
    .clear
    .reverse-wrapper
      %i.fa.fa-rotate-right.reverse
    .logotype
      Perfect
    .subheader
      Send postcards in the mail with ease

  #options.page
    .card-options
      .buttons
        %button.button
          .text Upload an Image
        %input.upload{type: 'file'}
        / %button.button
        /   .text Take A Picture
        %button.button.steal
          .text Steal One of Ours

  #image-crop.page
    .card-image-select
      #thumbnail
    .toolbar
      %i.fa.fa-plus-square.zoom-in
      %i.fa.fa-minus-square.zoom-out
      %i.fa.fa-arrow-left.back

  #image-select.page
    .card-image-select
    .choosers
      %h3 Choose a category
      %br
      =select_tag :category, options_for_select(@card_categories)
      =select_tag :card, options_for_select(@cards)
   