#perfect
  #home
    .card
      .left
        &nbsp;
        .inner
          &nbsp;
      .right
        .inner
          .stamp
            P
          .lines
            %hr
            %hr
            %hr
            %hr
    %br
    %br
    .clear
    .logotype
      Perfect
    .subheader
      Send postcards in the mail with ease
