.share
  %h2 Thanks for sending your postcard! Why don't you tell some friends?

  %a{href: "http://www.facebook.com/sharer.php?u=https%3A%2F%2Fpostperfect.co", target: "_new"}
    %i.fa.fa-facebook
  %a{href: "http://twitter.com/home?status=I%20just%20sent%20a%20postcard%20using%20Perfect!%20https%3A%2F%2Fpostperfect.co", target: "_new"}
    %i.fa.fa-twitter
  %a{href: "http://www.tumblr.com/share/link?url=https%3A%2F%2Fpostperfect.co&name=I%20just%20sent%20a%20postcard%20using%20Perfect!", target: "_new"}
    %i.fa.fa-tumblr