#editor
  .card-image-select
    @extend .standard-card
    width: 602px 
    background: transparent
    display: none
    overflow: hidden
  .toolbar
    width: 600px
    margin: 0 auto
    text-align: center
    margin-top: 10px
    display: none
    font-size: 20px
  .discount-code
    text-align: center
    outline: none
    border: 1px solid gray
    padding: 4px 2px
    color: gray
    text-transform: uppercase !important
    &:focus
      outline: 0