<!--Facebook Open Graph Info -->
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "https://postperfect.co", :property => "og:url"}/
%meta{:content => "Perfect", :property => "og:site_name"}/
%meta{:content => "https://postperfect.co/assets/square-image.png", :property => "og:image"}/
%meta{:content => "Send a postcard with ease.", :property => "og:title"}/
%meta{:content => "Perfect allows you to send a postcard to your friends and relatives in minutes. Cards for the holidays and from New York!", :property => "og:description"}/
%meta{:content => "postcards send postcard", :property => "article:tag"}/
<!--Twitter Cards-->
%meta{:content => "summary", :name => "twitter:card"}/
%meta{:content => "@post_perfect", :name => "twitter:site"}/
%meta{:content => "Perfect", :name => "twitter:title"}/
%meta{:content => "Perfect allows you to send a postcard to your friends and relatives in minutes. Cards for the holidays and from New York!", :name => "twitter:description"}/
%meta{:content => "@post_perfect", :name => "twitter:creator"}/
%meta{:content => "postperfect.co", :name => "twitter:domain"}/
<!--End Twitter Cards-->